.apply-btn{
  transition: 0.3s;
}
.apply-btn:hover{
  transform: translateY(-2px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}
.apply-btn:active{
  opacity: 0.8;
}
.my-header{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  z-index: 1;
  backdrop-filter: blur(10px);
  
  /* For Safari support */
  -webkit-backdrop-filter: blur(10px);
}
.home,.track-app,.about-us{
  position: relative;
}
.home::before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 0;
  background-color: #2C2D86;
  transition: 0.3s;
}
.home:hover::before{
  width: 100%;
}

.track-app::before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 0;
  background-color: #2C2D86;
  transition: 0.3s;
}
.track-app:hover::before{
  width: 100%;
}
.about-us::before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 0;
  background-color: #2C2D86;
  transition: 0.3s;
}
.about-us:hover::before{
  width: 100%;
}