.th{
  padding: 8px 4px;
}
.actions{
  padding: 10px;
  top: 10;
  animation: fadeIn 0.4s ease-in-out;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.view-details-btn-action{
  transition: 0.3s;
}
.view-details-btn-action:hover{
  background-color: #2C2D86;
  border: none;
  border-radius: 4px;
  color: white;
}
.update-status-btn-action:hover{
    background-color: #2C2D86;
  border: none;
  border-radius: 4px;
  color: white;
}