.login-overlay{
  animation: fadeIn 0.5s ease-in-out forwards;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.116);
}

@keyframes slideIn{
0%{
  opacity: 0;
}
50%{
  opacity: 0.5;
}
100%{
  opacity: 1;
}
}

.logout-yes-btn{
  transition: 0.3s;
}
.logout-no-btn{
  transition: 0.3s;
}

.logout-yes-btn:hover{
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px rgba(44, 45, 134, 0.116);
  cursor: pointer;
}
.logout-no-btn:hover{
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.116);
  cursor: pointer;
}