.submit-app-modal{
  padding: 15px 20px;
  box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.267);
  border-radius: 8px;
}
.icon-container{
  padding: 12px;
  background-color: #2c2d8625;
}
.code-container{
  background-color: #2c2d8642;
  width: 100%;
}
.code-text{
  color: #2C2D86;
  text-transform: uppercase;
}
.track-btn,.back-home-btn{
  padding: 8px 32px;
  cursor: pointer;
}
.Submit-application-container{
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}