.role{
  height: 35px;
  margin-top: 10px;
  padding-left: 10px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  
}
.role:focus{
    border:2px solid #8486e9;
      box-shadow: 0 0 0 3px rgba(132, 134, 233, 0.2);
}
.role-container{
  margin-bottom: 25px;
}
.overlay{
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
  z-index: 9999;
}
.add-new-form{
  padding: 15px;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}