.th{
  padding: 8px 4px;
}
.actions{
  padding: 10px;
  top: 10;
  animation: fadeIn 0.4s ease-in-out;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.view-details-btn-action{
  padding: 8px 12px;
  transition: 0.3s;
}
.view-details-btn-action:hover{
  background-color: #2C2D86;
  border: none;
  border-radius: 4px;
  color: white;
}
.update-status-btn-action:hover{
    background-color: #2C2D86;
  border: none;
  border-radius: 4px;
  color: white;
}
.status-text{
  padding-inline: 4px;
}
.status-label{
  padding: 4px 8px;
  border-radius: 4px;
}
.action-title{
  padding-bottom: 0.5rem;
}
.col-8{
  padding: 2.5rem 0;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}